<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IBoardDao">

	<insert id="insertBoard" parameterType="board" useGeneratedKeys="true"
		keyProperty="boardNo">
		insert into board values(0,#{title},#{content},sysdate(),#{ageType},#{nick},#{id_index},0,0)
	</insert>

	<update id="updateBoard" parameterType="board">
		update board set 
		title = #{title}, content = #{content},
		ageType = #{ageType}, date = sysdate(),
		viewNo = #{viewNo}
		where boardNo = #{boardNo} and id_index = #{id_index}
	</update>

	<update id="updateRecommendBoard" parameterType="int">
		update board set
		recommend =recommend +1
		where boardNo = #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from board where boardNo = #{boardNo}
	</delete>

	<select id="selectByNick" parameterType="String" resultType="board">
		select * from board where nick = #{nick}
		order by boardNo desc limit #{skip}, #{count}
	</select>

	<select id="selectOneBoard" parameterType="int" resultType="board">
		select * from board where boardNo = #{boardNo}
	</select>

	<select id="selectByWhat" parameterType="java.util.HashMap"
		resultType="board">
		select * from board
		<choose>
			<when test="category eq 'title'">
				where title like concat ("%", #{content}, "%")
			</when>
			<when test="category eq 'nick'">
				where nick like concat ("%", #{content}, "%")
			</when>
		</choose>
		order by boardNo desc limit #{skip}, #{count}
	</select>

	<select id="selectByAgeType" parameterType="String" resultType="board">
		select * from board where ageType = #{ageType}
	</select>

	<select id="selectBest" resultType="board" parameterType="int">
		select * from board order by recommend desc limit 0, #{count}
	</select>

	<select id="selectboardLimit" parameterType="java.util.HashMap"
		resultType="board">
		select *,(select count(*) from comment where comment.boardNo =board.boardNo)as commentNum from board
		<choose>
			<when test="ageType == 40">
				where ageType >= #{ageType}
			</when>
			<when test="ageType != 0">
				where ageType = #{ageType}
			</when>
		</choose>
	</select>

	<select id="getBoardCount" resultType="int">
		select count(*) from board
		<choose>
			<when test="ageType == 40">
				where ageType >= #{ageType}
			</when>
			<when test="ageType != 0">
				where ageType = #{ageType}
			</when>
		</choose>
		<if test="category eq 'title'">
			where title like concat("%", #{content} ,"%")
		</if>
		<if test="category eq 'nick'">
			where nick like concat("%", #{content} ,"%")
		</if>
	</select>
	
</mapper>