<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ICommentDao">
	<insert id="insertComment" parameterType="java.util.HashMap">
		insert into comment
		values (0, #{boardNo}, #{id_index},
		#{nick},sysdate(),#{content})
	</insert>

	<update id="updateComment" parameterType="java.util.HashMap">
		update comment set
		date=sysdate(), content = #{content} where commentNo =
		#{commentNo}
		and
		boardNo = #{boardNo}
	</update>

	<delete id="deleteComment" parameterType="int">
		delete from comment where commentNo = #{commentNo}
	</delete>

	<select id="selectWriterIndex" parameterType="String"
		resultType="int">
		select distinct id_index from comment where nick = #{nick}
	</select>

	<select id="selectCommentLoc" parameterType="int" resultType="int">
		select boardNo from comment where commentNo = #{commentNo};
	</select>

	<select id="selectBoardComment" parameterType="int"
		resultType="java.util.HashMap">
		select * from comment WHERE boardNo = #{boardNo}
	</select>

	<select id="selectOneComment" parameterType="int" resultType="java.util.HashMap">
		select * from comment WHERE commentNo = #{commentNo} and boardNo =
		#{boardNo}
	</select>
</mapper>
