<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IRecommendDao">
	<insert id="insertrecommend" parameterType="recommend">
		insert into recommend values(0,#{boardNo},#{id_index},#{commentNo})
	</insert>

	<select id="selectrecommend" parameterType="recommend" resultType="recommend">
		select * from recommend where boardNo = #{boardNo} and 
		id_index = #{id_index} and commentNo = #{commentNo}
	</select>
	
	<delete id="deleterecommend" parameterType="int">
		delete from recommend where boardNo = #{boardNo}
	</delete>
</mapper>