@CHARSET "UTF-8";

.boardNo {
   width: 10%;
   text-align: center;
}

.title {
   width: 35%;
   text-align: left;
}

.board_list_tr:hover {
   background: #91D4B5;
}

.nick {
   width: 15%;
   text-align: left;
}

.date {
   width: 25%;
   text-align: center;
}

.recommend {
   width: 10%;
   text-align: center;
}

.ViewNo {
   width: 10%;
   text-align: center;
}

.tablelist {
   border-bottom: 1px solid #CCE2D8;
   background-color: #EAF2EE;
   display: inline-block;
}

.right td {
   border-bottom: 1px solid #CCE2D8;
   background-color: ##EAF2EE;
   font-size: 15px;
   padding: 8px 5px;
}

select {
   width: 70px; /* 원하는 너비설정 */
   padding: .3em .3em; /* 여백으로 높이 설정 */
   margin-right: 10px;
   font-family: inherit; /* 폰트 상속 */
   background:
      url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
      no-repeat 95% 50%; /* 네이티브 화살표 대체 */
   border: 1px solid #999;
   border-radius: 0px; /* iOS 둥근모서리 제거 */
   -webkit-appearance: none; /* 네이티브 외형 감추기 */
   -moz-appearance: none;
   appearance: none;
}

a {
   text-decoration: none;
   /*    color: black; */
   cursor: pointer;
}

a:hover {
   color: black;
   text-decoration: none;
}

a:link {
   color: black;
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:active {
   color: #FF6753;
   text-decoration: none;
}

.root {
   margin: auto;
   width: 1000px;
   background-color: #f0f8ff;
}

.left {
   height: auto;
   width: 15%;
   float: left;
   font-size: 15px;
   border-right: solid #CCE2D8;
   text-align: center;
   display: inline-block;
}

.right {
   width: 80%;
   display: inline-block;
   margin-left: 30px;
}

.bottom {
   width: 100%;
   height: 100%;
   clear: both;
}
.left a:active{
   color: black;
   text-decoration: none;
}
ul {
   list-style: none;
   padding-left: 0px;
}

li {
   padding-left: 10px;
}

.menu .hide {
   display: none;
}

#img1 {
   height: 15px;
   width: auto;
   margin-right: 5px;
}

.myButton {
   background-color: #f0f8ff;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   display: inline-block;
   cursor: pointer;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   padding: 6px 17px;
   text-decoration: none;
}

.myButton:hover {
   background-color: #91D4B5;
}

.myButton:active {
   position: relative;
   top: 1px;
}

.boardType {
   margin: 5px 0px 5px 0px;
   font-size: 28px;
}